matplotlib==3.4.1
healpy==1.14.0
asdf==2.7.1
mirage==2.0.2
jwst==1.1.0
git+https://github.com/anand0xff/ImPlaneIA.git@7f25185bcba422146a4257fcdcebad7b04366cfc
poppy
webbpsf
uncertainties
munch
astroquery
termcolor
git+https://github.com/SydneyAstrophotonicInstrumentationLab/AMICAL.git@36a5a2b520eff2f3ef3c8551f31735650ae72900